#app {
    background-color: rgb(27, 27, 27) !important;
}
.img {
    width: 215px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}
.img-btn {
    position: absolute;
    bottom: 0;
}
.chip {
    position: absolute;
    top: 0;
    left: 5px;
}
.plat {
    position: absolute;
    top: 0;
    left: 110px;
}
.table td {
    padding: 10px 0;
    border: none;
    color: white;
}
.centered-field input {
    text-align: center !important;
}
.showBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}
.showBoxText {
    font-size: 150%;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.expand-box {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.routelink {
    padding: 100px;
}
.Wishlist {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48);
    color: white;
}
